{% extends "school/base.html" %}
{% load static %}

{% block title %}Список учеников{% endblock %}

{% block content %}
<div class="row">
  <ul>
    {% for student in students %}
      <li>
        <strong>{{ student.name }}</strong> - Группа: {{ student.group }}
        <br>Преподаватель: {{ student.teacher.name }} ({{ student.teacher.subject }})

        {% if student.teachers.all %}
          <br>Дополнительные преподаватели:
          <ul>
            {% for teacher in student.teachers.all %}
              <li>{{ teacher.name }}: {{ teacher.subject }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </li>
    {% empty %}
      <li>Нет учеников</li>
    {% endfor %}
  </ul>
</div>
{% endblock %}