{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/books">Каталог</a></h1>
        </div>
        <div class="row">
            <div class="book col-md-4">
                {% for book in books %}
                <div class="books">
                <div href="{% url 'books' %}">
                <h2>{{book.name}}</h2>
                <p>Автор: {{book.author}}</p>
                <p>Дата публикации:
                <a href="{% url 'current_books' pub_date=book.pub_date|date:'Y-m-d' %}">
                    {{ book.pub_date|date:"Y.m.d." }}</a>
                </p>
                {%endfor%}
                </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}